<ion-content [fullscreen]="true">

<div class="container">
  <ion-header>
    <ion-toolbar>
      <div class="icci">
        <p class="t-citas">Citas</p>

        <ion-button (click)="irAConfiguraciones()" fill="clear">
          <ion-icon  name="settings-outline"></ion-icon>
        </ion-button>

      </div>
    </ion-toolbar>
  </ion-header>
</div>

<div class="containerFrases">
  <app-frase-home></app-frase-home>
</div>





<div class="crearFrase">
  <ion-fab class="marginfab">
    <ion-fab-button (click)="irAGestionCitas()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
  


</ion-content>
